.container {
    width: 1170px;
    padding: 0 px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: #FF8A00;
    /* Ubah position ke fixed, dan top ke 0 */
    position:fixed;
    top:0;
    
    /* Ubah z-index ke 10 */
    z-index:10;
}
body{
	margin:0;
}

.header-left {
  float: left;
  width: 124px;
  margin-top: 20px;
}

.header-logo{
	position: absolute;
	left: 38%;
	top: -13px;
}

.header-right {
  float: right;
  height: 65px;
  width: 400px;
  top: 20%;
  margin-top: 20px;
}

.searchsq{
  height: 26px;
  width: 357px;
  background-color: white;
  border-radius: 25px;
  position: relative;
  left:5%;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
  position:relative;
  top: 2px;
  left:5%;
  outline:none;
  width:290px;
}

.circle{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: black;
  left:93%;
}

.content{
  padding: 55px 0 0 0;
  text-align: center;
}

.clear{
  clear: left;
}
.header-right th {
  padding: 5px 10px;
  list-style: none;
  position: relative;
  left: 14px;
  top: -9px;
}

.notif{
  width: 26px;
  height: 30px;
}

.profile{
  height: 63px;
  width: 63px;
}

.header-right p {
  font-family:Roboto;
  font-style: normal;
  font-size: 15px;
  text-align: left;
}

.isi{
  position: relative;
  float: left;
  top: -18px;
  height: 60px;
  border-radius: 90px;
  background-color: white;
  border: none;
}
.sidebar{
	width: 44px;
	height: 30px;
	float: right;
	background: url(menu.png);
	cursor: pointer;
	border: none;
}
.slider{
	width: 358px;
	height: 488px;
	background-color:#FF8A00;
	visibility:hidden;
	position:absolute;
	border-radius: 0 0 0 45px;
	float: right;
	top:11.4%;
	z-index:999;
	position: fixed;
}@keyframes sliding{
	0% {right:-40%}
	100% {right:0%}
}@keyframes sliding2{
	0% {right:0%}
	100% {right:-40%;visibility:hidden}
}

.logo{
	width: 266.4px;
	height: 80.37px;
	background: url(LogoKembali-IN.svg);
	border: none;
	outline: none;
	cursor: pointer;
}
.isimenu{
	float:left;
	position:relative;
	font-size:25px;
	left:6%;
	top:9%;
	z-index:1000;
	text-decoration: none;
	color:white;
	
}
.close{
	height:5%;
	width:2.5%;
	background-color: #FF8A00;
	position: absolute;
	top:7%;
	right:14%;
	text-align: center;
	border-radius: 15px;
	outline: none;
	font-size:30px;
	color:white;
	cursor: pointer;
	z-index:1000;
	border: none;
}
.chat{
	position: absolute;
	width: 239px;
	height: 99px;
	left: 64px;
	top: 110px;
	background: #FDEFBE;
}
.chat p{
	position: relative;
	float: left;
	top:-40%;
	font-size:43px;
}
.daftar{
	position: absolute;
	left: 64px;
	width: 237px;
	height: 100px;
	background: #C4C4C4;
	border-radius: 45px 0px 0px 45px;
}
.daftar p{
	position:relative;
	float: right;
	top: -80%;
	font-size:25px;
	margin-right: 7px;
}
.gambar{
	position: relative;
	top: 3px;
	left: 1px;
	width: 95px;
	height: 95px;
	border-radius:50%;
	background-color:black;
}
.nama{
	position: absolute;
	width: 253px;
	height: 24px;
	left: 320px;
	top: 100px;
}
.garis{
	position: absolute;
	width: 750px;
	height: 1px;
	left: 330px;
	top: 208px;
	border-radius: 25px;
	background-color: gray;
}
.tulis{
	position: absolute;
	width: 750px;
	height: 392px;
	left: 330px;
	top: 212px;
}
.tulis p{
	font-size:20px;
	text-align: left;
	
}
.chatting{
	position: absolute;
	left: 350px;
	top: 500px;
	
}
.ketik{
	position: relative;
	width: 595px;
	height: 63px;
	left: 2%;
	top: 80%;
	background: #FFFFFF;
	border-radius: 0px 45px 45px 0px;
	font-size:45px;
	background: #EDE7E7;
	border: 1px solid black;
}
.kirim{
	position: relative;
	width: 51.52px;
	height: 49.25px;
	left: 4%;
	top: 100%;
	background: url(Send.svg);
	outline:none;
	border: none;
	cursor: pointer;
}